---
layout: default
title: Blog
---
<p>I'm occasionally have thoughts on various topics. You can read those thoughts <s>here</s> on <a href="https://jacobbuckman.substack.com/">Substack</a>, where I will be hosting all future essays. Past essays will be preserved on this page for posterity.</p>
<ul>
  {% for post in site.posts %}
  <a hidden>{{ post.title }} {{ post.date | date_to_long_string }} {{ post.url }} </a>
  {% if post.invisible == null %}
    <li class="spaced">
      <a href="{{ post.url }}">{{ post.title }}</a> {{ post.date | date_to_long_string }}
    </li>
  {% endif %}
  {% endfor %}
</ul>
